/*
    Typography
*/
$font-stack: "Poppins", system-ui, sans-serif;

$fonts: (
    h1: (
        font-size: 26px,
        line-height: 39px,
    ),
    p1: (
        font-size: 26px,
        line-height: 39px,
    ),
    p2: (
        font-size: 20px,
        line-height: 30px,
    ),
    p3: (
        font-size: 18px,
        line-height: 27px,
    ),
    p4: (
        font-size: 14px,
        line-height: 24px,
    ),
);

$text-dark: #000000;
$text-dark-transparent: #00000080;
$text-gray: #7c838a;
$text-gray-light: #b0bac3;
$text-yellow: #f9ed32;

/*
    Backgrounds
*/
$bg-page: linear-gradient(126.22deg, #f9ed32 4.79%, #d9bd32 54.4%);
$bg-container: #e6f3ffbf;
$bg-container-secondary: #ffffff;
$bg-main-content: #ffffff;

$bg-form-input: #b0bac366;

$bg-button-primary: #f9ed32;
$bg-button-secondary: transparent;

/*
    Borders
*/
$border-gray: 1px solid #7c838a;

$border-radius-1: 20px;
$border-radius-2: 15px;
$border-radius-3: 10px;

/*
    Container properties
*/
$ctn-max-width: 1440px;
